<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8" />
		{% load static %}
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<div class="navbar-header">
					<a
						class="navbar-brand"
						href="{% url 'onlinecourse:popular_course_list' %}"
						>Online Course</a
					>
				</div>
				<!--Authentication section-->
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li>
						<a class="btn btn-link" href="#"
							>{{ user.first_name }}({{ user.username }})</a
						>
						<a
							class="btn btn-link"
							href="{% url 'onlinecourse:logout' %}"
							>Logout</a
						>
					</li>
					{% else %}
					<li>
						<form
							class="form-inline"
							action="{% url 'onlinecourse:login' %}"
							method="post"
						>
							{% csrf_token %}
							<div class="input-group">
								<input
									type="text"
									class="form-control"
									placeholder="Username"
									name="username"
								/>
								<input
									type="password"
									class="form-control"
									placeholder="Password"
									name="psw"
								/>
								<button class="btn btn-primary" type="submit">
									Login
								</button>
								<a
									class="btn btn-link"
									href="{% url 'onlinecourse:registration' %}"
									>Sign Up</a
								>
							</div>
						</form>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
    <div class="card">
        <h2>{{ course.name }}</h2>
        <h5>{{ course.description }}</h5>
    </div>
    <h2>Lessons: </h2>
    {% for lesson in course.lesson_set.all %}
    <div class="card">
        <h5>Lesson {{lesson.order}} : {{lesson.title}}</h5>
        <p>{{lesson.content}}</p>
    </div>
    {% endfor %}
</body>
</html>